/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between; /* Distribute space between logo and nav */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure header stays on top */
}

header .logo img {
  width: 150px;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex; /* Make nav items horizontal */
  gap: 2rem; 
  margin: 0;
  padding: 0;
}

.nav-links li { /* Remove bullet points */
    list-style: none;
}


.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: red;
  color: #fff;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-image: url('hero-image.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero .red-text {  /* Make the 'x' red */
  color: red;
}



/* Section Styles */
section {
  padding: 4rem 2rem;
  text-align: center;
}

section h2 {
  font-size: 2.5rem;
  color: red;
  margin-bottom: 1rem;
}
